<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.human.dao.IF_CTypeNameDAO">
	<select id="checkType" resultType="com.human.VO.CTypeNameVO">
		select * from camp_type_name 
	</select>
	
</mapper>