<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.human.dao.IF_MarkingDAO">
	<select id="markingChk" parameterType="hashmap" resultType="int">
		select count(*) from marking where m_id = #{id} and c_num = #{num}
	</select>


	<insert id="markingInsert" parameterType="hashmap">
		insert into marking
		values(marking_seq.nextval, #{c_num}, #{m_id})
	</insert>

	<delete id="markingDelete">
		delete from marking where m_id = #{m_id} and c_num =
		#{c_num}
	</delete>
	
	<select id="markingList" parameterType="String" resultType="com.human.VO.CampVO">
		select c.* from marking m 
		full outer join campsite c 
		on c.num = m.c_num where m.m_id = #{id}  
	</select>


</mapper>